#titlepage, #loginpage{
    background-image: url("../pictures/ourSpaceBack.png");
}
#titlepage, #flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-flow: wrap;
}
#main{
    padding-left: 1%;
    padding-right: 1%;
}
#logo{
    color: white;
    font-size: 250%;
    border: hidden;
    border-color: rgba(255, 255, 255, 0);
    border-width: 8px;
    padding: 5%;
    transition: border-color 3s;
}
#formwhole{
    display: inline-grid;
    width: 30%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    align-content: center;
    background-color: #4d3c63;
}
#username{
    padding-left: 5%;
    grid-column: 1/2;
    grid-row:  1/2;
}
#password{
    padding-right: 5%;
    grid-column: 2/3;
    grid-row: 1/2;
}
#submit{
    padding-left: 15%;
    padding-right: 15%;
    grid-column: 1/3;
    grid-row: 3/4;
}
#createaccount{
    padding-left: 30%;
    padding-right: 30%;
    grid-column: 1/3;
    grid-row: 4/5;
}
.input > input{
    display: block;
    margin: 0 auto;
}
.direction{
    text-align: center;
    color: white;
    border: solid;
    border-color: white;
}
#dashbackground{
    background-color: #95afb6
}